@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus {
    outline: 0;
  }
  html {
    font-size: 16px;
  }
  body {
    @apply text-sm font-sans;
  }
}
@layer components {
  .btn {
    @apply flex px-3 py-2 rounded-md min-w-button justify-center;
  }
}
@layer utilities {
  .page-enter {
    opacity: 0;
  }
  .page-enter-done {
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .page-exit {
    opacity: 1;
  }
  .page-exit-active {
    opacity: 0;
    transition: all 0.2s ease-in;
  }
  .slice-page-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .slice-page-enter-done {
    opacity: 1;
    right: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .slice-page-exit {
    opacity: 1;
    right: 0;
  }
  .slice-page-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.2s ease-in;
  }
}
